.header{
    height: 100px;
    background-color: #4e4e4e;
    margin: 0 0;
    padding: 0 0;
    display: block;

}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 50px;
   margin: 0 0;
   padding: 0 0;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 50px;
   margin: 0 0;
   padding: 0 0;
   float: right;
   position: absolute;
   right: 100px;
   top:10px;
}
.greenbutton{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}

body{
    margin:0 0;
    padding: 0 0;
}

.footer{
    height: 50px;
    width: 80%;
    background-color: grey;
    text-align: center;
    margin: 500px auto;
    opacity: 0.5;
    
}

h4{
    opacity: 1.0;
    color: white;
    font-size: 40px;
    text-align: right;
}